<!-- Subscribe to appState with async, pipe to json format. -->
<!--<div>{{ appState$ | async | json }}</div>-->

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage Clients</h2>
                    </div>
                    <div class="col-sm-6">
                        <!-- Call function to print report. -->
                        <button (click)="printReport()" type="button" class="btn btn-print" style="height: 33.91px;">Print Report</button>
                        <!-- Button to add new client, using modal pop-up window. -->
                        <a href="#addEmployeeModal" class="btn btn-new" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>New Client</span>
                        </a>
                        <span>
                            <!-- Button to select a filter. Call filter function. Set default filter to ALL. -->
                            <select (ngModelChange)="filterClients($event)" ngModel="ALL" name="status"
                            class="btn btn-filter" style="height: 32.91px;">
                                <option value="ALL">ALL</option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">INACTIVE</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div> <br>
            <!-- ng-container to render different parts of app depending on state.-->
            <!-- Subscribe to the appState Observable to get application state. Set ref name for it.-->
            <!-- Show different ng-container depending appState.dataState, check with ngSwitch. -->
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
            <!-- Show spinner if app is in loading state. -->
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <!-- Show table of clients when app state is loaded. -->
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <!-- Table of clients. -->
                    <table class="table table-striped table-hover" id="clients">
                        <thead>
                            <tr class="col-headings">
                                <th class="col-heading">First Name</th>
                                <th class="col-heading">Last Name</th>
                                <th class="col-heading">Company</th>
                                <th class="col-heading">Company URL</th>
                                <th class="col-heading">Email</th>
                                <th class="col-heading">Country Code</th>
                                <th class="col-heading">Phone </th>
                                <th class="col-heading">Status</th>
                                <th class="col-heading">Actions</th>
                            </tr>
                        </thead>
                        <!-- Loop through array of clients in data to display each one.-->
                        <!-- server defined as the current client in the iterated array. -->
                        <tbody *ngFor="let client of appState.appData.data.clients; let i = index">
                            <tr>
                                <td class="data-text">{{ client.clientFirstName }}</td>
                                <td class="data-text">{{ client.clientLastName }}</td>
                                <td class="data-text">{{ client.clientCompany }}</td>
                                <td class="data-text">{{ client.clientCompanyURL }}</td>
                                <td class="data-text">{{ client.clientEmail }}</td>
                                <td class="data-text">+{{ client.clientPhoneCountryCode }}</td>
                                <td class="data-text">{{ client.clientPhone }}</td>
                                <td>
                                    <!-- Display status. -->
                                    <span class="badge"
                                    [ngClass]="[client.clientStatus === ClientStatus.ACTIVE ? ' badge-active ' : ' badge-inactive ']">
                                        {{ client.clientStatus === ClientStatus.ACTIVE ? 'ACTIVE' : 'INACTIVE' }}
                                    </span>
                                </td>                    
                                <!-- TODO: implement and use ping for company URL, or implement update client function. -->
                                <!-- Show ping icon if state is loaded, or spinner icon if state is loading. Call pingURL function. -->
                                <!--
                                <td>
                                    <a (click)="pingURL(client.clientCompanyURL)" style="cursor: pointer;"> -->
                                        <!-- Subscribe to filterStatus observable with async. -->
                                        <!--
                                        <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== client.clientCompanyURL" 
                                            class="material-icons" title="Ping URL">&#xe328;</i>
                                        <i *ngIf="(filterStatus$ | async) === client.clientCompanyURL"
                                            class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                                    </a>
                                </td>
                                -->
                                <td>                            
                                    <!-- Call function to delete client if delete button is clicked.  -->
                                    <a (click)="deleteClient(client)" class="delete" data-toggle="modal" style="cursor: pointer;">
                                        <i class="material-icons delete" data-toggle="tooltip" title="Delete Client">&#xE872;</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <!-- Show if app has error state. -->
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert-danger">
                        {{ appState.error }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<!-- Add server modal HTML pop-up. -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Set clientForm as ngForm, and set submit to call function saveClient and pass clientForm. -->
            <form #clientForm="ngForm" (ngSubmit)="saveClient(clientForm)">
                <div class="modal-header">
                    <h4 class="modal-title">Add Client</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Client side validation for form input: form submit button is disabled if form controls not adhered to. -->
                    <div class="form-group" name="clientFirstNameGroup">
                        <label>First Name</label>
                        <input type="text" ngModel name="clientFirstName" class="form-control" required minlength="2" 
                        maxlength="30" pattern="[A-Za-z]*">
                        <span class="modal-validation" *ngIf="clientForm.form.get('clientFirstName').hasError('minlength')">First name must be at least 2 characters long. </span>
                        <span class="modal-validation" *ngIf="clientForm.form.get('clientFirstName').hasError('pattern')">First name can only contain letters. </span>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" ngModel name="clientLastName" class="form-control" required minlength="2" 
                        maxlength="30" pattern="[A-Za-z]*">
                        <span class="modal-validation" *ngIf="clientForm.form.get('clientLastName').hasError('minlength')">Last name must be at least 2 characters long. </span>
                        <span class="modal-validation" *ngIf="clientForm.form.get('clientLastName').hasError('pattern')">Last name can only contain letters. </span>
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" ngModel name="clientCompany" class="form-control" required maxlength="30">
                    </div>
                    <div class="form-group">
                        <label>Company URL</label>
                        <input type="url" ngModel name="clientCompanyURL" class="form-control" required
                        pattern="^(https?:\/\/.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)$">
                        <span class="modal-validation" *ngIf="clientForm.form.get('clientCompanyURL').hasError('pattern')">URL must be valid and begin with http:// or https://. </span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" ngModel email name="clientEmail" class="form-control" required>
                        <span class="modal-validation" *ngIf="clientForm.form.get('clientEmail').hasError('email')">Email must be valid. </span>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label>Phone Country Code</label>
                                <input type="text" ngModel name="clientPhoneCountryCode" class="form-control" required 
                                minlength="1" maxlength="3" pattern="[0-9]*">
                                <span class="modal-validation" *ngIf="clientForm.form.get('clientPhoneCountryCode').hasError('pattern')">Country code can only contain digits. </span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" ngModel name="clientPhone" class="form-control" required minlength="5" 
                                maxlength="17" pattern="[0-9]*">
                                <span class="modal-validation" *ngIf="clientForm.form.get('clientPhone').hasError('minlength')">Phone number must be at least 5 digits long. </span>
                                <span class="modal-validation" *ngIf="clientForm.form.get('clientPhone').hasError('pattern')">Phone number can only contain digits. </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <!-- Set status default as INACTIVE. -->
                        <select name="clientStatus" ngModel="INACTIVE" class="form-control" name="clientStatus" required>
                            <option value="ACTIVE">Active</option>
                            <option value="INACTIVE">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Button to close modal. -->
                    <button type="button" class="btn btn-cancel" id="closeModal" data-dismiss="modal">Cancel</button>
                    <!-- Button to submit the form to add a new client. -->
                    <!-- Disable button if client form is invalid or if isLoading is true. Subscribe to isLoading Observable to check. -->
                    <button type="submit" [disabled]="clientForm.invalid || (isLoading$ | async)" 
                    class="btn btn-add">
                        <!-- Display spinner if isLoading is true. -->
                        <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                        <!-- Display text if isLoading is true. Subscribe to the isLoading Observable. -->
                        <span *ngIf="isLoading$ | async">Saving...</span>
                        <!-- Display text if isLoading is false. Subscribe to the isLoading Observable. -->
                        <span *ngIf="!(isLoading$ | async)">Add</span>
                    </button>
                    <!--  Display message if client form is invalid. -->
                    <span class="modal-validation" *ngIf="clientForm.invalid">All fields must be filled in.</span>
                </div>
            </form>
        </div>
    </div>
</div>
