<!-- Subscribe to appState with async, pipe to json format. -->
<!--<div>{{ appState$ | async | json }}</div>-->

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage Servers</h2>
                    </div>
                    <div class="col-sm-6">
                        <!-- Call function to print report. -->
                        <button (click)="printReport()" type="button" class="btn btn-primary">Print Report</button>
                        <!-- Button to add new server, using modal pop-up window. -->
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>New Server</span>
                        </a>
                        <span>
                            <!-- Button to select a filter. Call filter function. Set default filter to ALL. -->
                            <select (ngModelChange)="filterServers($event)" ngModel="ALL" name="status"
                            class="btn btn-info" style="height: 32.91px;">
                                <option value="ALL">ALL</option>
                                <option value="SERVER_UP">SERVER UP</option>
                                <option value="SERVER_DOWN">SERVER DOWN</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div> <br>
            <!-- ng-container to render different parts of app depending on state.-->
            <!-- Subscribe to the appState Observable to get application state. Set ref name for it.-->
            <!-- Show different ng-container depending appState.dataState, check with ngSwitch. -->
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
            <!-- Show spinner if app is in loading state. -->
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <!-- Show table of servers when app state is loaded. -->
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <!-- Table of servers. -->
                    <table class="table table-striped table-hover" id="servers">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>IP Address</th>
                                <th>Name</th>
                                <th>Memory</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Ping</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <!-- Loop through array of servers in data to display each one.-->
                        <!-- server defined as the current server in the iterated array. -->
                        <tbody *ngFor="let server of appState.appData.data.servers; let i = index">
                            <tr>
                                <!-- TODO: image error. Displays alt.-->
                                <td> <img [src]="server.serverImageUrl" [alt]="server.serverName" width="40" height="40"></td>
                                <td>{{ server.serverIPAddress }}</td>
                                <td>{{ server.serverName }}</td>
                                <td>{{ server.serverMemory }}</td>
                                <td>{{ server.serverType }}</td>
                                <td>
                                    <!-- Remove underscores from status up and status down for UI. -->
                                    <span class="badge"
                                    [ngClass]="[server.serverStatus === Status.SERVER_UP ? ' badge-success ' : ' badge-danger ']">
                                        {{ server.serverStatus === Status.SERVER_UP ? 'SERVER UP' : 'SERVER DOWN' }}
                                    </span>
                                </td>                    
                                <!-- Show ping icon if state is loaded, or spinner icon if state is loading. Call pingServer function. -->
                                <td>
                                    <a (click)="pingServer(server.serverIPAddress)" style="cursor: pointer;">
                                        <!-- Subscribe to filterStatus observable with async. -->
                                        <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.serverIPAddress" 
                                            class="material-icons" title="Ping Server">&#xe328;</i>
                                        <i *ngIf="(filterStatus$ | async) === server.serverIPAddress"
                                            class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                                    </a>
                                </td>
                                <td>
                                    <!-- Call function to delete server if delete button is clicked.  -->
                                    <a (click)="deleteServer(server)" class="delete" data-toggle="modal" style="cursor: pointer;">
                                        <i class="material-icons" data-toggle="tooltip" title="Delete Server">&#xE872;</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <!-- Show if app has error state. -->
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert-danger">
                        {{ appState.error }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<!-- Add server modal HTML pop-up. -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Set serverForm as ngForm, and set submit to call function saveServer and pass serverForm. -->
            <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
                <div class="modal-header">
                    <h4 class="modal-title">Add Server</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>IP Address</label>
                        <input type="text" ngModel name="serverIPAddress" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" ngModel name="serverName" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label>Memory</label>
                                <input type="text" ngModel name="serverMemory" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" ngModel name="serverType" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <!-- Set status default as SERVER_DOWN. -->
                        <select name="serverStatus" ngModel="SERVER_DOWN" class="form-control" name="serverStatus" required>
                            <option value="SERVER_UP">SERVER UP</option>
                            <option value="SERVER_DOWN">SERVER DOWN</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Button to close modal. -->
                    <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">Cancel</button>
                    <!-- Button to submit the form to add a new server. -->
                    <!-- Disable button if server form is invalid (ie. required fields not filled). -->
                    <!-- Disable button if isLoading is true. Subscribe to isLoading Observable to check. -->
                    <button type="submit" [disabled]="serverForm.invalid || (isLoading$ | async)" class="btn btn-success">
                        <!-- Display spinner if isLoading is true. -->
                        <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                        <!-- Display text if isLoading is true. Subscribe to the isLoading Observable. -->
                        <span *ngIf="isLoading$ | async">Saving...</span>
                        <!-- Display text if isLoading is false. Subscribe to the isLoading Observable. -->
                        <span *ngIf="!(isLoading$ | async)">Add</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
